body{
    background-color: #0D0D0D ;
    overflow: hidden;
}

.ingredients .card{
    border: none;
    overflow: hidden;
}
.ingredients .card .photo{
    
    background-color:  #0D0D0D ;
    height: 200px;
}
.ingredients .photo{
    cursor: pointer;
}
.ingredients .photo i{
    font-size: 64px;
    color: white;
}
.ingredients .photo h3{
    color: white;
}
.ingredients .photo p{
    color: white;
}

/************************Meals CSS*****************************/

.side-bar{
  display: flex;
}
.meals .card .photo .image{
    background-color: #0D0D0D ;
 }
 .meals .card .photo{
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }
 .meals .card .card-body{
 position: absolute;
 top: 0;
 top: 100%;
 width: 100%;
 height: 100%;
 background-color: rgba(255, 255, 255, 0.632);
 transition: 0.5s;
 }

 .meals .card .card-title{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }
 .meals .card .photo:hover .card-body{
    top: 0;
 
 }
 
 .home .navbar{
    cursor: pointer;
 }
 .meals .colsDataa {
    margin-top: 100px;   
 }
 .meals .card{
    border: none;
    border-radius: 5;
 }

 /**********************Instructions***************************/
 .instructions{
    background-color: transparent;
}

.instructions h2,.instructions h3,.instructions p{
    color: white;
}

/************************Loader****************************/

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     z-index: 999999999;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
}

/************************Settings************************/
.setting{
  background-color: white;
  position: fixed;
  height: 100%;
  z-index: 999999;
  display: flex;
  white-space: nowrap;
}

.setting .links{

  
  background-color: black;
  display: none;
  position: relative;
  
}

.setting .links .inner-links{
 padding-right: 115px;
 padding-left: 10px;
 padding-top: 20px;
}

.setting .links .inner-links a{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.setting .links .inner-links a:hover{
  color: darkred;
}

.setting .links .footer-links{
  position: absolute;
  bottom: 0px;
}
.setting .links .footer-links i{
  
  color: white;
  cursor: pointer;
}

.setting .links .footer-links p{
  
  color: white;
  cursor: pointer;
}



.setting .close i{
  /* background-color: black; */
  padding: 10px;
  color: white;
}


.setting .close{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: min-content; */
  
}

.setting .close i{
color: black;
cursor: pointer;
  
}

.setting .close .start i{
font-size: 22px;
color: yellow;
}

.setting .close .middle{
font-size: 32px;
}

.setting .close .end{
  display: flex;
  flex-direction: column;
}